@mixin bp($point) {
    @if $point==xl {
        @media (min-width: 95rem) {
            @content;
        }
    }

    @else if $point==l {
        @media (min-width: 70rem) {
            @content;
        }
    }

    @else if $point==m {
        @media (min-width: 45rem) {
            @content;
        }
    }

    @else if $point==s {
        @media (min-width: 35rem) {
            @content;
        }
    }
}
@font-face {
    font-family: haas;
    src: url(/assets/NeueHaasGrotDisp-25XThin.otf) format('opentype');
    font-weight: 100;
}
@font-face {
    font-family: haas;
    src: url(/assets/NeueHaasGrotDisp-55Roman.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: benton;
    src: url(/assets/BentonSans_carved.otf) format('opentype');
    font-weight: 100;
}
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@font-face {
    font-family: XronikaGX;
    src: url(/assets/XronikaGX.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: shiznit;
    src: url(/assets/Shiznit-Smooth.otf) format('opentype');
}
@font-face {
    font-family: "shiznit-it";
    src: url(/assets/Shiznit-SmoothItalic.otf) format('opentype');
}

:root {
    --sans: haas;
    --highlight: #ffffff;
    --black: black;
    --border-radius: 6px;
    --black-hover: rgb(90, 90, 90);
    --lightgray: #fbfbfb;
    --purple: rgb(207, 147, 255);
    --yellow: rgb(240, 225, 26);
    --ratio: 1.25; //Major 3
    --ms-0: .6rem;
    --ms--1: calc(var(--ms-0) / var(--ratio));
    --ms-1: calc(var(--ms-0) * var(--ratio));
    --ms-2: calc(var(--ms-1) * var(--ratio));
    --ms-3: calc(var(--ms-2) * var(--ratio));
    --ms-4: calc(var(--ms-3) * var(--ratio));
    --ms-5: calc(var(--ms-4) * var(--ratio));
    --ms-6: calc(var(--ms-5) * var(--ratio));
    --ms-7: calc(var(--ms-6) * var(--ratio));
    
    @include bp(s){
        --ms-0: .75rem;
    }
    @include bp(m){
        --ms-0: .9rem;
    }
    @include bp(l){
        --ms-0: 1.1rem;
    }
    @include bp(xl){
        --ms-0: 1.15rem;
    }
}
    
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}